<!DOCTYPE html>
<html>
<head>
 
</head>
<body>
    <table border="1">
        <tr>
            <th>State</th>
            <th>Chief Minister</th>
            <th>Capital</th>
        </tr>
        <tr>
            <td>Andhra</td>
            <td>Jagan</td>
            <td>Amaravati</td>
        </tr>
        <tr>
            <td>Telangana</td>
            <td>KCR</td>
            <td>Hyderabad</td>
        </tr>
        <tr>
            <td>Karnataka</td>
            <td>Bommai</td>
            <td>Bangalore</td>
        </tr>
        <tr>
            <td>Maharashtra</td>
            <td>Uddhav Thackeray</td>
            <td>Mumbai</td>
        </tr>
        <tr>
            <td>Kerala</td>
            <td>Pinarayi</td>
            <td>Trivandrum</td>
        </tr>
    </table>
</body>
</html>