<div class="container">
  <h1>{{ title }}</h1>

  <button routerLink="/shopping-list">Go to Shopping List</button><p></p>
  <button routerLink="/hyperlink">Hyperlink Question</button><p></p>
  <button routerLink="/leap-year">Check Leap Year</button><p></p>
  <button routerLink="/table-question">Print table</button><p>
  </p>
  <button routerLink="/nested-list">Print Nested List</button><p></p>
  <button routerLink="/ul-link">Print List</button>



  <!-- Router outlet to display routed components -->
  <router-outlet></router-outlet>
</div>
